@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px; /*117%*/
  background-color: #ffffff;
  color: #000000;
}


.page-header{
  background-color: #ffffff;
  color: #000000;
}

.navigation-link{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: inherit;
  text-align: center;
  color: inherit;
  text-decoration: none;
}
/* Можно отцентрировать весь блок или лучше каждый блок по отдельности? */
.main-index{
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}

.hero-block{
  background-image: url(../images/index_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #5f9ea0;
  color: #ffffff;
  /* text-align: center; */
}


.advantages{
  /* text-align: center; */
}

.advantages-description{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-text{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
