@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
  height: 100%;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* General Styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  padding: 8px 10px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:hover {
  background-color: #615048;
}

.button:focus-visible {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
}

.light-button {
  background-color: #82b3d3;
  color: #ffffff;
  padding: 8px 50px;
}

.light-button:hover {
  background-color: #68a2ca;
}

.light-button:focus-visible {
  background-color: #68a2ca;
}

.light-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.light-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.transparent-button {
  background-color: transparent;
  padding: 8px 50px;
  transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;
}

.transparent-button:hover {
  background-color: transparent;
  opacity: 0.6;
}

.transparent-button:focus-visible {
  padding: 5px 50px;
  /* outline: 3px solid #83b3d3; */
}

.transparent-button:active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.transparent-button:disabled {
  background-color: transparent;
  opacity: 0.1;
}

.color-dark {
  background-color: #82b3d3;
  color: #ffffff;
}

.color-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.color-accent {
  background-color: rgba(131, 179, 211, 0.2);
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

.block-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 0;
}

.block-subtitle {
  color: #333333;
  margin: 0;
}

.notification-icon {
  position: absolute;
  top: 11px;
  right: 4px;
  font-size: 10px;
  line-height: 10px;
  width: 20px;
  border-radius: 50%;
  padding: 5px;
  color: #ffffff;
  background-color: #7db54f;
}

.main-container {
  flex-grow: 1;
}

/* Header */
.page-header {
  padding: 0 70px;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.navigation-logo-link {
  position: relative;
  margin-bottom: -6px;
  z-index: 10;
  transition: opacity 0.2s ease-in-out;
}

.navigation-logo-link[href*="index.html"]:hover {
  opacity: 0.7;
}

.logo {
  display: block;
  width: 138px;
  height: auto;
}

.navigation-list {
  list-style-type: none;
  width: 622px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.navigation-link {
  display: block;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 20px 16px;
  transition: color 0.2s ease-in-out;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus-visible {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.current-navigation-link {
  padding-bottom: 0;
  padding-top: 19px;
}

.current-navigation-link::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: -1px;
  position: relative;
  z-index: 10;
  background-color: #756257;
}

.user-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.user-navigation-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.user-navigation-link {
  position: relative;
  display: block;
  min-width: 44px;
  min-height: 64px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.user-navigation-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.search-link::before {
  content: "";
  display: block;
  width: 44px;
  height: 64px;
  background-color: #000000;
  mask-image: url("../images/decorative_icons/search.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  transition: background-color 0.2s ease-in-out;
}

.search-link:hover::before {
  background-color: #756157;
}

.search-link:focus-visible::before {
  background-color: #756157;
}

.search-link:active::before {
  background-color: rgba(117, 97, 87, 0.3);
}

.heart-link::before {
  content: "";
  display: block;
  width: 44px;
  height: 64px;
  background-color: #000000;
  mask-image: url("../images/decorative_icons/heart.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}

.heart-link:hover::before {
  background-color: #756157;
}

.heart-link:focus-visible::before {
  background-color: #756157;
}

.heart-link:active::before {
  background-color: rgba(117, 97, 87, 0.3);
}

.button-want {
  color: #ffffff;
  padding: 8px 34px;
  margin-left: 20px;
}

/* Hero */
.hero-block {
  position: relative;
  color: #ffffff;
  background-color: #5f9ea0;
  background-image: url("../images/index_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 51px 0 82px 0;
}

.hero-block::before {
  content: "";
  width: 100%;
  height: 57px;
  position: absolute;
  background-image: url("../images/main_decorate.svg");
  left: 0;
  bottom: 0;

}

.hero-image {
  display: block;
  width: 458px;
  height: auto;
  margin: 0 auto;
}

/* Advantages */
.advantages {
  text-align: center;
}

.advantages-block {
  padding: 69px 274px;
  margin-bottom: 21px;
}

.advantages-description {
  margin-bottom: 25px;
}

.color-dark .advantages-item-subtitle {
  color: #ffffff;
}

.advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  padding: 112px 85px;
}

.advantages-block-description {
  padding-top: 102px;
  padding-bottom: 102px;
}

.advantages-block-description::before {
  background-color: rgba(255, 255, 255, 0.3);
  top: 188px;
}

.block-with-picture {
  display: flex;
}

.advantages-image {
  display: block;
  width: 800px;
  height: auto;
  object-fit: contain;
}

.advantages-item-title {
  width: 175px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-item-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.color-dark .advantages-item-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Services */
.services {
  text-align: center;
}

.services-block {
  padding: 64px 347px;
}

.services-color-accent {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.services-item {
  width: 400px;
  padding: 81px 85px 81px 85px;
}

.services-item-title {
  margin-bottom: 30px;
}

.services-item-title::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 78px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.title-home::before {
  background-image: url("../images/decorative_icons/housing.svg");
}

.title-burger::before {
  background-image: url("../images/decorative_icons/eating.svg");
}

.title-present::before {
  background-image: url("../images/decorative_icons/souvenir.svg");
}
/* Search Section */
.search {
  text-align: center;
  padding: 96px 304px;
}

.search-text {
  margin-bottom: 54px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

/* Newsletter */
.newsletter {
  text-align: center;
  padding: 96px 258px 104px;
}

.newsletter-index {
  color: #ffffff;
  background-color: #5f9ea0;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-subtitle {
  margin-bottom: 54px;
}

.newsletter-index .subtitle {
  color: #ffffff;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.button-newsletter {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

.field {
  flex-grow: 1;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
  border-radius: 4px 0 0 4px;
  padding: 14px 0 14px 20px;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus-visible {
  background-color: #e6e6e6;
}

/* Footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:11px 13px;
}

.social-link::before {
  content: "";
  display: block;
  background-color: #83b3d3;
  width: 24px;
  height: 17px;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: background-color 0.3s ease-in-out;
}

.footer-vk::before {
  mask-image: url("../images/social_icons/vk.svg");
}

.footer-telegram::before {
  mask-image: url("../images/social_icons/telegram.svg");
}

.footer-youtube::before {
  mask-image: url("../images/social_icons/youtube.svg");
}

.social-link:hover::before {
  background-color: #68a2ca;
}

.social-link:focus-visible::before {
  background-color: #68a2ca;
}

.social-link:active::before {
  background-color: rgba(104, 162, 202, 0.3);
}

.footer-contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;
}

.footer-contact-phone:hover {
  color: #756157;
}

.footer-contact-phone:focus-visible {
  color: #756157;
}

.footer-contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.developer-logo::before {
  content: "";
  display: block;
  width: 115px;
  height: 33px;
  background-color: #000000;
  mask-image: url("../images/logo_html_academy.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  transition: background-color 0.2s ease-in-out;
}

.developer-logo:hover::before {
  background-color: #756157;
}

.developer-logo:focus-visible::before {
  background-color: #756157;
  outline: none;
}

.developer-logo:active::before {
  background-color: rgba(117, 97, 87, 0.3);
}

/* Catalog Header */
.main-catalog-header {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-color: #5f9ea0;
  background-image: url("../images/filter_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-of-type)::after {
  position: absolute;
  content: "";
  background-image: url("../images/decorative_icons/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 20px;
}

.breadcrumbs-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  margin-right: 18px;
  transition: color 0.2s ease-in-out;
}

.breadcrumbs-main::before {
  content: "";
  display: block;
  width: 12px;
  height: 14px;
  background-color: #ffffff;
  mask-image: url("../images/decorative_icons/home.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  transition: background-color 0.2s ease-in-out;
}

.breadcrumbs-link:not(.current-link):hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:not(.current-link):active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-main:hover::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-main:active::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 70px;
}

.catalog-filter-list {
  list-style: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control-input {
  line-height: 23px;
}

.filter-field {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Sorting Section */
.sorting {
  padding: 50px 70px 60px 70px;
}

.sorting-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 46px;
}

.hotels-number {
  width: 450px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}
.select-wrapper {
  width: 295px;
  margin-right: 70px;
}

.select-control {
  width: 100%;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  padding: 12px 20px;
  padding-right: 40px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
  background-image: url("../images/decorative_icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  transition: border 0.2s ease-in-out;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus-visible {
  outline-color:  #68a2ca;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
}

.sorting-button-block {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.sorting-button {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 12px;
  text-align: center;
  min-width: 48px;
  min-height: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

.sorting-button:hover {
  border-color: #000000;
}

.sorting-button:focus-visible {
  outline-color: #68a2ca;
}

.sorting-button:active {
  border-color: #000000;
}

.button-grid {
  background-image: url("../images/decorative_icons/tile.svg");
}

.button-tiles {
  background-image: url("../images/decorative_icons/slideshow.svg");
}

.button-views {
  background-image: url("../images/decorative_icons/list.svg");
}

.current-sorting-button {
  border: 2px solid #000000;
}

/* Cards */
.hotel-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr;
  align-items: start;
  column-gap: 20px;
  row-gap: 16px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px 19px;
}

.product-card-link {
  text-decoration: none;
  grid-column: 1/-1;
  transition: opacity 0.2s ease-in-out;
}

.product-card-link:hover {
  opacity: 0.7;
}

.product-card-image {
  display: block;
  width: 300px;
  height: auto;
  object-fit: contain;
  margin-bottom: 16px;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.hotel-card-type {
  margin: 0;
}

.hotel-card-price {
  margin: 0;
  justify-self: end;
}

.hotel-card-wrapper {
  display: flex;
  justify-content: space-between;
}

.block-price {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.detail-button {
  padding: 8px 26px;
}

.favorites-button {
  padding: 8px 20px;
}

.current-button {
  background-color: #7db54f;
  padding: 8px 18px;
}

.current-button:hover {
  background-color: #6c9e42;
}

.current-button:focus-visible {
  background-color: #6c9e42;
}

.current-button:active {
  background-color:  #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.current-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  color: #333333;
  text-transform: uppercase;
  padding: 8px 22px;
  border-radius: 4px;
  margin: 0;
}

.four-stars {
  background-image: url("../images/decorative_icons/star.svg"), url("../images/decorative_icons/star.svg"), url("../images/decorative_icons/star.svg"), url("../images/decorative_icons/star.svg");
  background-repeat: no-repeat;
  background-position: 0 0, 24px 0, 48px 0, 72px 0;
  height: 17px;
}

.three-stars {
  background-image: url("../images/decorative_icons/star.svg"), url("../images/decorative_icons/star.svg"), url("../images/decorative_icons/star.svg");
  background-repeat: no-repeat;
  background-position: 0 0, 24px 0, 48px 0;
  height: 17px;
}

.two-stars {
  background-image: url("../images/decorative_icons/star.svg"), url("../images/decorative_icons/star.svg");
  background-repeat: no-repeat;
  background-position: 0 0, 24px 0;
  height: 17px;
}

/* Pagination */
.pagination-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.pagination-link {
  display: block;
  text-align: center;
  min-width: 59px;
  min-height: 59px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  background-color: #82b3d3;
  color: #ffffff;
  padding: 11px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.pagination-link:not(.current-pagination):not(.pagination-points):hover {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-link:not(.current-pagination):not(.pagination-points):active{
  background-color:  #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:not(.pagination-points):focus-visible {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.current-pagination {
  color: #000000;
  background-color: #f2f2f2;
}

.current-pagination:focus-visible {
  outline: none;
}

.pagination-points {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.pagination-points:hover {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-points:focus-visible {
  color: rgba(0, 0, 0, 0.3);
}
